[Mysql-DataBase] ;B3dev
host = mysql.b3dev.xyz
port = 3306
user = b3_api
password = fGFcqRkHC5D2z^b^
db = b3
charset = utf8

[Apikey] ;B3Apikey
H5_apikey = sUY7qsoHudTrw2Ct
H5_apisecret = gEq76SZv
sys_apikey = 5S7NukaMpMVW8U4Z
sys_apisecret = p0fbgZI0
Android_apikey = qbmkIS55ptjBhZFp
Android_apisecret = 7M1H4mXA
IOS_apikey = oStkKLmJ5Q8S4n3b
IOS_apisecret = gKByU6HC

[url] ;B3devurl
url = https://api.b3dev.xyz
;孙骞
;url = http://192.168.0.22:12025
;url = http://192.168.0.22:12024
;线上
;url = https://api.socoin.cc

[token] ;token
;俊文token
token_wen = 5f070dff513ec47fac9960dfa5f431d0
;俊鑫token
token_junxin = 3f086fcbcf7210da0ca10eae38bfe399
;国亮token
token_guoliang = 53f002f0241422f375d380ff2090a016